

.projects-title {
    text-align: center;
    margin: 1rem 0 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.project-img{
    display: block;
    max-width: 100%;
}

