
.projects-title {
    text-align: center;
    margin: 4rem 0;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitle {
    
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.project-img{
    display: block;
    max-width: 100%;
}

